body {
    background-color: #30364F;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 400px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    

}

.box {
    width: 110px;
    height: 100px;
    margin: 5px;
    font-size: 2rem;
    border-radius: 8px;
    cursor: pointer;
    background-color:#E1D9BC ;
}
#restart {
    margin-top: 10px;
    background-color:#E1D9BC ;
    font-size: larger;
    border-radius: 0.5rem;
    height: 40px;
    border: none;
    cursor: pointer;
}
